.hamburgerBackground{
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;    
  background-color: $blue;
  transition: ease-in-out 0.5s;
}

// ajouter cette classe à nav en js
.revealMenu{
  .hamburgerBackground{
    z-index: 1;
    opacity: 1;
  }
  .fa-times{
    z-index: 2;
    position: absolute;  
    display: block;
    right: 0;
    top: 0;
    margin: 1rem;
  }
  .fa-bars{
    display: none;
  }
  ul{
    transition-delay: 0.5s;
    z-index: 2;
    opacity: 1;
  }
  transition: ease-in-out 0.5s;
}
