  {% extends "superfantome/layout.html.twig" %}
  {% block content %}
    <main id="apropos">
      <figure>
        <img src="{{asset('superfantome/medaillon.png')}}" alt="médaillon auteur" />
      </figure>
      <div>
        <p>
          Florian Duchesne vit à Strasbourg. Il a étudié à l'atelier
          Illustration à l'école des arts décoratifs de Strasbourg (aujourd'hui
          appelée la HEAR). Il est aujourd'hui en reconversion professionnelle
          dans le développement web, mais apprécie toujours la bande dessinée et
          l'illustration.
        </p>
      </div>
    </main>
	{% endblock %}
