  {% extends "superfantome/layout.html.twig" %}
  {% block content %}
	<main>
		<div class="wrapper">
			<div class="contact__container">
				<div class="contact__title">
					<h2>
						Contact
					</h2>
				</div>
				<form id="contact-form" class="contact__form">
					<div class="contact__form-attributes">
            <div class="contact__form-bloc">
            	<label for="from_name">Nom</label>
		  				<input class="contact__form-input fieldInput" type="text" name="from_name" id="contact_from_name"/>
            </div>
            <div class="contact__form-bloc">
             	<label for="user_email">Email</label>
					    <input class="contact__form-input fieldInput" type="email" name="user_email" id="contact_user_email"/>
            </div>
					</div>
          <div class="contact__form-bloc-message">
            <label for="message">Message</label>
		  			<textarea class="contact__form-textarea fieldInput" type="text" name="message" id="contact_message"></textarea>
            <div class="contact__form-bloc-submit contact__form-attributes">
              <div class="g-recaptcha" data-sitekey="6LexqPkhAAAAAGlznCL9c8dCP7kzXMPHAYlEt7Q9"></div>
            	<input type="submit" id="button" value="Envoyer"/>
            </div>
          </div>
				</form>
			</div>
		</div>
	</main>
{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('contact') }}
		{% endblock %}

