  {% extends "superfantome/layout.html.twig" %}
  {% block content %}
    <main>
      <img
        class="dessinFantome"
        src="{{asset('superfantome/dessin_couverture_blanc.png')}}" alt="illustration"/>
      <div class="flexColonne">
        <h1 class="text">contre le docteur <strong>Krapougnat !</strong></h1>
        <a href="{{path('sf_lecture')}}" id="start">Start !</a>
      </div>
      <div class="flexColonnetext">
        <p class="text auteur">- par Florian Duchesne -</p>
        <p class="text">
          Un récit dont<br /><strong>vous</strong><br />êtes le héros !
        </p>
      </div>
    </main>
  {% endblock %}