  {% extends "superfantome/layout.html.twig" %}
  {% block content %}
    <main id="contenantLiens">
      <figure><img src="{{asset('superfantome/icone.png')}}" alt=" icone Super Fantôme" /></figure>
      <div id="liens">
        <a href="{{path('japon')}}"
          >Chroniques d'un PVT au Japon</a
        >
        <a href="https://florianduchesne.tumblr.com/">tumblr</a>
        <a href="https://www.youtube.com/watch?v=OVqeuXgw4IY">Youtube</a>
        <a href="https://github.com/FlorianDuchesne">Github</a>
        <a href="https://www.linkedin.com/in/florian-duchesne-020aaa10b/"
          >LinkedIn</a
        >
        <a href="https://www.instagram.com/duchesne.florian/">instagram</a>
      </div>
    </main>
  {% endblock %}