{% if projet.lienGit is null or projet.lienWeb is null %}
<div class="liens single">
{% else %}
<div class="liens multiple">
{% endif %}
{% if projet.lienGit is not null %}
<a href="{{projet.lienGit}}" target="_blank"><i class="fab fa-github"></i></a>
{% endif %}
{% if projet.lienWeb is not null %}
<a href="{{projet.lienWeb}}" target="_blank"><i class="fas fa-link"></i></a>
{% endif %}
</div>
