{% extends "base.html.twig" %}
{% block meta_description %} Page d'accueil du domaine de Florian Duchesne. Sur cette page sont répertoriés les différents site du domaine. {% endblock %}
    {% block stylesheets %}
			{{ encore_entry_link_tags('home') }}
		{% endblock %}
{% block body %}
    <h1>Chaise Vivante</h1>
    <p>
      Bienvenue dans le domaine de Florian Duchesne. Voici répertoriés sur cette
      page les différents sites de ce domaine. <br />Plusieurs sont
      indisponibles puisqu'encore en construction.
    </p>
    <ul>
      <li id="un">
        <a href="{{ path('japon') }}"
          >Chroniques d'un PVT au Japon</a
        >
      </li>
      <li id="deux">
        <a href="{{ path('superfantome') }}"
          >Super Fantôme contre le docteur Krapougnat</a
        >
      </li>
      <li id="trois"><a href="{{ path('portfolio') }}">Portfolio</a></li>
    </ul>

    <p>
      Vous pouvez aussi trouver des empreintes numériques de Florian sur
      <a href="https://www.facebook.com/florian.duchesne">facebook</a>,
      <a href="https://www.linkedin.com/in/florian-duchesne-020aaa10b/"
        >LinkedIn</a
      >, <a href="https://www.instagram.com/duchesne.florian/">instagram</a>,
      <a href="https://www.youtube.com/watch?v=OVqeuXgw4IY">youtube</a>,
      <a href="https://florianduchesne.tumblr.com/">tumblr</a>.
    </p>
{% endblock %}