{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<header>
<a><h1>Florian Duchesne</h1></a>
<nav>
<ul>
  <li><a href="#apropos">A propos</a></li>
  <li><a href="#parcours">Parcours</a></li>
  <li><a href="#projets">Projets</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="">CV</a></li>
</ul>
</nav>
</header>
<section id="apropos">
  <div>
    <h2>A propos</h2>
    <p>Bonjour, je suis <strong>Florian Duchesne</strong>, <strong>développeur web junior</strong>.</p>
    <p>Je me suis reconverti dans le développement web, après une première partie de ma vie dédiée à l'illustration et la bande dessinée (cf <a href="https://florianduchesne.tumblr.com/">ici</a>, <a href="https://www.chaisevivante.com/chroniquesjapon/">là</a> ou <a href="https://www.chaisevivante.com/superfantome/">là-bas</a>)</p>
    <p>En ce moment je cherche un premier emploi en tant que développeur junior <strong>PHP Symfony</strong></p>
    <p>En attendant d'y arriver, je bosse sur des petits <strong>projets</strong> (comme ce portfolio), je m'entraîne sur <a href="https://www.codewars.com/users/FlorianDuchesne"><strong>codewars</strong></a>,
    j'apprends de nouvelles choses sur <a href=""><strong>Udemy</strong></a> et <a href=""><strong>Youtube</strong></a>.</p>
    <p>En dehors du dév, j'aime le <strong>Japon</strong>, la <strong>bande dessinée</strong> et le <strong>cinéma</strong>, et je fais du <a href="https://www.association-lolita.com/"><strong>théâtre d'impro</strong></a>, du <a href="https://www.facebook.com/strasbourgquidditch/"><strong>quidditch</strong></a> et du <strong>dessin</strong>.</p>
  </div>
  <img src="/public/files/photo?.jpeg" alt="portrait de Florian Duchesne">
</section>

{% endblock %}