    {% block stylesheets %}
			{{ encore_entry_link_tags('japon_apropos') }}
		{% endblock %}
  {% extends "chroniquesJapon/layout.html.twig" %}
      {% block content %}
      <main>
        <figure>
          <img
            src={{asset('japon/elements_graphiques/portrait.jpg')}}
            alt="image de l'auteur"
          />
        </figure>
        <h1>À propos de l'auteur</h1>
        <p>
          Florian Duchesne vit à Strasbourg.
          Il a étudié à l'atelier Illustration à l'école des arts-décoratifs de
          Strasbourg (aujourd'hui appelée la HEAR).
          La passion de sa compagne pour le Japon lui a donné cette belle
          opportunité de faire un PVT là-bas.
          Il est aujourd'hui en reconversion professionnelle mais apprécie
          toujours la bande dessinée et l'illustration.
        </p>
      </main>
		{% endblock %}
