{% extends "base.html.twig" %}
{% block title %}Chroniques Japon{% endblock %}
{% block meta_description %} 'Chroniques d'un PVT au Japon' est un récit de voyage en bandes dessinées à propos d'un séjour au Japon. {% endblock %}
{% block icon %} <link rel="icon" href= {{ asset('/icones/icone_japon.png') }}>	{% endblock %}
{% block body %}
<div class="container">
  {% block header %}
    {{ include('chroniquesJapon/elements/_header.html.twig') }}            
  {% endblock %}
  {% block content %}{% endblock %}
  <footer>
    <small>&copy; Florian Duchesne</small>
  </footer>
</div>
{% endblock %}